@font-face {
    font-family: 'Tele Grotesk Ult';
    src: url('fonts/TeleGroteskUlt.ttf') format('truetype');
}

@font-face {
    font-family: 'Tele Grotesk Fet';
    src: url('fonts/Tele-GroteskFet_43759.ttf') format('truetype');
}

@font-face {
    font-family: 'Tele Grotesk Halb';
    src: url('fonts/t036014t.ttf') format('truetype');
}

@font-face {
    font-family: 'Tele Grotesk Halb light';
    src: url('fonts/37081_t036013t.ttf') format('truetype');
}

@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?lds1w1');
    src: url('fonts/icomoon.eot?lds1w1#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?lds1w1') format('truetype'),
    url('fonts/icomoon.woff?lds1w1') format('woff'),
    url('fonts/icomoon.svg?lds1w1#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.owl-carousel .owl-theme .owl-dots .owl-dot span {
    background: grey;
}

.owl-theme.owl-carousel.owl-dots.owl-dot.active span {
    background: white;
}

.icon-icon-twitterFooter:before {
    content: "\e901";
    color: #fff;
}

.icon-icon-slackfooter:before {
    content: "\e900";
    color: #fff;
}

.icon-icon-close:before {
    content: "\e904";
    color: #fff;
}

.icon-icon-downarrow .path1:before {
    content: "\e905";
    color: rgb(255, 255, 255);
    opacity: 0.8016;
}

.icon-icon-downarrow .path2:before {
    content: "\e906";
    margin-left: -1em;
    color: rgb(255, 255, 255);
    opacity: 0.5029;
}

.icon-icon-facebookShare .path1:before {
    content: "\e907";
    color: rgb(68, 115, 153);
}

.icon-icon-facebookShare .path2:before {
    content: "\e908";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.icon-icon-github:before {
    content: "\e909";
    color: #fff;
}

.icon-icon-instaShare .path1:before {
    content: "\e90a";
    color: rgb(246, 166, 35);
}

.icon-icon-instaShare .path2:before {
    content: "\e90b";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.icon-icon-linkedin:before {
    content: "\e90c";
    color: #fff;
}

.icon-icon-slackShare .path1:before {
    content: "\e90d";
    color: rgb(60, 68, 76);
}

.icon-icon-slackShare .path2:before {
    content: "\e90e";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.icon-icon-slackShare .path3:before {
    content: "\e90f";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.icon-icon-slackShare .path4:before {
    content: "\e910";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.icon-icon-slackShare .path5:before {
    content: "\e911";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.icon-icon-slackShare .path6:before {
    content: "\e912";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.icon-icon-slackShare .path7:before {
    content: "\e913";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.icon-icon-slackShare .path8:before {
    content: "\e914";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.icon-icon-slackShare .path9:before {
    content: "\e915";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.icon-icon-stars:before {
    content: "\e916";
    color: #fff;
}

.icon-icon-twitter:before {
    content: "\e917";
    color: #fff;
}

.icon-icon-twitterShare .path1:before {
    content: "\e918";
    color: rgb(30, 166, 206);
}

.icon-icon-twitterShare .path2:before {
    content: "\e919";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

html,
body {
    font-family: Tele Grotesk Halb, SansSerif, Arial;
    font-size: 16px;
    margin: 0;
    height: 100%;
}

.overflowH {
    overflow: hidden;
}

header {
    background: url("../img/bg-header.png");
    font-size: 4.5rem;
}

header .header-content {
    margin-top: 8rem;
}

header .header-content .header-content-inner p {
    color: #3B3B3B;
    font-size: 1.6rem;
    letter-spacing: .11rem;
    margin: 0 12rem;
    padding-top: 1rem;
    line-height: 1.5;
}

.cat-details-section {
    background-color: transparent;
    background-size: 100% 100%;
}

.first-content {
    margin-left: -50px;
    position: relative;
}

.footer-content {
    display: table;
    width: 100%;
}

.cat-details-section h2 {
    color: #fff;
    padding: 0 5rem;
    font-size: 2.5rem;
    font-family: 'Tele Grotesk Ult';
    background-color: transparent !important;
    color: #fff;
    letter-spacing: 0.1rem;
    line-height: 1.4;
}

.cat-content {
    color: #fff;
    font-size: 1.1rem;
    font-family: 'Tele Grotesk Halb light';
    letter-spacing: 0.05rem;
    line-height: 1.4;
    margin-bottom: 40px;
}

.cat-details-section p,
.image-edge p {
    color: #000;
    font-size: 1.4rem;
    line-height: 1.68;
    padding: 0;
    letter-spacing: 0.2px;
}

.cat-details-section em {
    font-style: normal;
}

.cat-features-section {
    background-color: transparent;
    width: 100%;
    margin: auto;
}

.cat-features-section h2 {
    color: #FFFFFF;
    font-size: 4.3rem;
    margin-top: 1rem;
    letter-spacing: .1rem;
}

.cat-features-section .service-box {
    background-color: #fff;
    padding: 5px;
}

.cat-feature-box .text-center {
    padding: 1.25rem;
}

.cat-feature-box.mobile-padding .text-center, .blog-row.mobile-padding .text-center {
    padding: 0.5rem;
}

.cat-hdg {
    display: inline-block;
    position: relative;
    font-family: Tele Grotesk Ult;
    font-size: 2.4rem;
    letter-spacing: 1px;
    color: #f21580;
    text-transform: uppercase;
}

.tag-content {
    border: 1px solid #f21580;
    border-radius: 15px;
    color: #f21580;
    display: inline-block;
    font-size: 1rem;
    padding: 5px 10px;
    margin-bottom: 7px;
    width: 71px;
    cursor: pointer;
    transition: 0.3s ease;
}

.tag-content:hover {
    background-color: #f21580;
    color: white;
}

a {
    color: #f21580;
    text-decoration: none;
}

footer {
    background-color: #000;
    color: #fff;
    position: relative;
    font-size: 1.4rem;
    padding: 20px 80px;
    line-height: 1.8rem;
    letter-spacing: .06rem;
}

section {
    position: relative;
}

.cat-logo {
    margin: 13px auto;
    display: block;
}

.navbar {
    background: transparent;
    position: relative;
    border: none;
    margin-bottom: 0;
}

a:focus, a:hover {
    text-decoration: none;
}

textarea:focus,
input:focus,
.form-control:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
    outline: none;
}

@media (min-width: 320px) {
    html,
    body {
        /*font-size: 50%;*/
    }

    header .header-content .header-content-inner p {
        margin: 0 5rem;
    }

    .cat-features-section h3 {
        font-size: 1.1rem;
    }
}

@media (min-width: 641px) {
    html,
    body {
        font-size: 90%;
    }

    header .header-content .header-content-inner p {
        margin: 0 12rem;
    }

    .cat-features-section h3 {
        font-size: 1.1rem;
    }
}

@media (min-width: 961px) {
    html,
    body {
        font-size: 90%;
    }

    .cat-features-section h3 {
        font-size: 1.2rem;
    }

    .cat-feature-box {
        display: table;
    }

    .cat-feature-box .row {
        display: table-row;
    }

    .cat-feature-box .text-center {
        display: block;
    }
}

@media (min-width: 1281px) {
    html,
    body {
        font-size: 100%;
    }

    .cat-features-section h3 {
        font-size: 20px;
    }
}

img {
    max-width: 100%;
}

.v-align-transform {
    position: relative;
    z-index: 2;
}

.right {
    right: 0;
}

.mb16 {
    margin-bottom: 1rem;
}

.mb40 {
    margin-bottom: 2rem;
}

.center-image {
    max-width: 60%;
    display: block;
    margin: auto;
}

.no-padding {
    padding: 0;
}

.alt-section {
    background-color: #566D9B;
}

.alt-section-green {
    background-color: #5F9573;
}

.alt-section-teal {
    background-color: #4A696E;
}

.alt-section h3,
.alt-section p {
    color: #fff;
}

.alt-section h6 {
    color: #e6e6e6;
}

.video-container {
    height: 20rem;
    width: 45rem;
    margin: 0 auto;
}

footer {
    clear: both;
}

.footer-text {
    text-align: center;
    font-size: 0.8rem;
    margin-top: 20px;
}

.read-more {
    font-size: 1.4rem;
    margin-top: 2.5rem;
}

.left {
    float: left;
}

.mainNav-contents {
    padding: 17px 0;
    width: 86%;
    margin: auto;
}

.nav-contents {
    margin: 0 15px;
    float: right;
    color: #fff;
    font-size: 1.1rem;
    cursor: pointer;
    font-family: 'Tele Grotesk Ult';
}

.nav-contents a {
    text-decoration: none;
}

.first-first-content {
    color: #fff;
    font-size: 42px;
    text-align: left;
    font-family: 'Tele Grotesk Halb';
    position: absolute;
    right: 35px;
    bottom: 15px;
    line-height: 1;
}

.un-carrier {
    background-color: #fff;
    width: 375px;
    font-family: Tele Grotesk Ult;
    float: left;
    font-size: 60px;
    /*padding: 0 9px;*/

    color: #f21580;
}

.second-content {
    color: #fff;
    /*font-weight: 600;*/

    font-size: 67px;
    font-family: Tele Grotesk Ult;
    letter-spacing: 2px;
    width: 480px;
    padding-left: 20px;
}

.second-content div {
    background-color: #000;
}

.extra {
    width: 10px;
    height: 65px;
    margin-top: 9px;
    float: left;
    background: rgba(221, 221, 221, 0.74);
}

.header-content-inner-details {
    max-width: 496px;
    padding: 17px 0;
    color: #fff;
    font-size: 16.6px;
    font-family: 'Tele Grotesk Halb';
    letter-spacing: 0.3px;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    padding: 17px 0;
    width: 180px;
}

button {
    color: #f21580;
    border-radius: 100px;
    width: 180px;
    height: 56px;
    font-size: 10px;
    background-color: #fff;
    border: none;
    padding: 10px 0;
}

button:focus {
    outline: none;
}

.projects {
    font-size: 15px;
    float: left;
    color: #f21580;
    margin-top: 20px;
}

.grid {
    width: 85%;
    margin: auto;
}

.container-margin {
    margin-top: 40px;
}

.circle {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    margin: auto;
    /*border: 1px solid;
    background-color: #fff;*/
}

.community-pic.circle {
    overflow: hidden;
}

.margin-top-10 {
    margin-top: -10px;
}

.names {
    text-align: center;
    padding: 20px;
    color: #fff;
    font-size: 1.3rem;
    font-family: "Tele Grotesk Fet";
}

.names-content {
    color: #fff;
    font-size: 16px;
    font-family: 'Tele Grotesk Halb light';
    margin: auto;
    letter-spacing: 0.6px;
    width: 166px;
    text-align: left;
    min-height: 240px;
}

.top-pad {
    padding-top: 9%;
}

.text-left {
    text-align: left;
    width: 68%;
    font-family: 'Tele Grotesk Halb';
    float: none;
    font-size: 20px;
    margin: 0 auto 20px;
}

.margin-container {
    margin-bottom: 10px;
}

.cat-prize-section button {
    color: #fff;
    font-family: 'Tele Grotesk Ult';
    font-size: 19px;
    letter-spacing: 0.5px;
    background-color: #f21580;
}

#services-opposite button, .career button, #blog button {
    color: #f21580;
    font-family: 'Tele Grotesk Ult';
    font-size: 20px;
    transition: 0.3s ease;
    background-color: #fff;

}

button {
    transition: 0.3s ease;
}

button:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    transform: translateY(-2px);
}

.white-btn button {
    transition: 0.3s ease;
}

#events button {
    transition: 0.3s ease;
    background-color: #f21580 !important;
    color: white;
}

.opposite-font {
    color: #fff;
}

.footer-size {
    font-size: 15px;
}

.left-contents {
    padding: 0 1rem;
    color: #f21580;
    cursor: pointer;
    opacity: 1;
    display: table-cell;
    font-size: 1rem;
    vertical-align: middle;
}

.content-right {
    float: right;
    padding-right: 1rem;
    cursor: pointer;
}

.footer-cirle {
    width: 40px;
    display: inline-block;
    height: 40px;
    border-radius: 50%;
    margin: 0 9px;
    border: 1px solid;
}

.cat-features-section .special {
    color: #f21580;
    font-size: 32px;
    font-family: 'Tele Grotesk Ult';
}

.no-padding {
    padding: 0;
}

.added-margin {
    margin-top: 40px;
}

.text-black {
    color: black;
}

.added-padding {
    padding-top: 2%;
}

.header-content-inner {
    max-width: 300px;
    margin: 0 auto;
}

.arrows {
    margin-top: 10px;
}

.bg-primary.cat-details-section {
    background-image: url(../img/bg-about.png);
    background-size: 100% 100%;
}

.cat-prize-section.BG4 {
    background-image: url(../img/BG4@1x.png);
    /*background-size: 100% 100%;
    background-size: 100% 200%;
    background-position-y: 21%;*/
}

.cat-prize-section.BG5, #blog {
    /*background-image: url(../img/BG5@1x.png);*/
    background-color: #f21580;
    background-size: 100% 100%;
}

.cat-prize-section.BG6 {
    /*background-image: url(../img/BG6@1x.png);*/
    background-size: 100% 100%;
    /*min-height: 50%;*/
}

.mobile_version.margin {
    display: inline-block;
    margin: 0 10px;
}

.pad-bot {
    padding-bottom: 8%;
}

.mobile_version_content {
    width: 100%;
    margin: auto;
    text-align: center;
    min-width: 170px;
}

.mobile_version_content i {
    font-size: 1.5rem;
}

.footer_mobile {
    font-size: 18px !important;
    width: 67%;
    margin: 20px auto;
    min-width: 170px;
    text-align: center;
}

.footer_mobile_contents_privacy {
    color: #f21580;
    display: inline-block;
}

.footer_mobile_contents_about {
    color: #f21580;
    display: inline-block;
    padding-left: 6px;
}

.mobile_logo {
    width: 113px;
    margin: auto;
}

.added-extra-margin {
    /*margin-top: 16%;*/
}

.added-extra-padding {
    padding: 7% 2%;
}

.overflow-hide {
    overflow: hidden !important;
}

.cat-prize-section.BG6.career .btn {
}

#services {
    padding: 0;
}

#services-conduct, #services-opposite {
    text-align: center;
}

#about {
    padding: 0;
}

#about ul {
    margin-top: 25px;
}

#services-opposite {
    padding: 0;
}

.pink-bg {
    background: #f21580;
}

#services-career {
    padding: 0;
    text-align: center;
}

.adjust {
}

.cat-prize-section.BG5.opposite .margin-container {
}

.logoMain {
    float: left;
    max-height: 20px;
    width: 113px;
}

.mobile-font {
    font-family: 'Tele Grotesk Halb';
    font-size: 20px;
    width: 300px;
}

.cat-features-section.row.project .grid {
}

.cat-prize-section.BG5.opposite .added-extra-padding {
    padding-top: 12%;
}

.cat-prize-section.BG6.career .grid {
}

.checkout {
    font-size: 20px;
    color: #fff;
    margin-top: 11px;
    font-family: 'Tele Grotesk Halb';
    margin-bottom: 4px;
}

footer .grid {
    width: 95%;
    margin-top: 34px;
}

footer .margin-container {
    font-family: 'Tele Grotesk Halb';
    padding-right: 13rem;
}

.content-margin {
    margin: 0 3px;
}

.code-span, .header-span {
    font-family: 'Tele Grotesk Halb';
    font-size: 20px;
    height: 24px;
    display: inline-block;
}

.blog-span {
    font-family: 'Tele Grotesk Halb';
    font-size: 20px;
    height: 24px;
    display: inline-block;
}

.career-span {
    font-family: 'Tele Grotesk Halb';
    font-size: 20px;
    height: 24px;
    display: inline-block;
}

.nav-contents a {
    color: #fff !important;
}

.nav-contents a {
    color: #fff !important;
}

.owl-theme .owl-nav [class*=owl-] {
    background: none;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: none;
}

.owl-theme .owl-nav .carousel-control {
    width: 50px;
}

.owl-theme .owl-nav .carousel-control.disabled {
    display: none;
}

.owl-theme .owl-nav .carousel-control.left.owl-left {
    background-image: none;
    background: none;
}

.owl-theme .owl-nav .carousel-control.right.owl-right {
    background-image: none;
    background: none;
}

.owl-theme .owl-nav .glyphicon {
    position: absolute;
    top: 45%;
    font-size: 30px;
    height: 40px;
}

/*new changes*/
.overlay-container .overlay-state-con {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1005;
}

.overlay-container .overlay-state {
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: rgba(24, 33, 44, 0.5);
}

.overlay-container .overlay-state-wrp {
    position: relative;
    max-width: 960px;
    height: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.overlay-container .overlay-box {
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    float: none;
}

.cross-icon {
    color: #fff;
    position: absolute;
    font-size: 20px;
    right: 12px;
    top: 12px;
    cursor: pointer;
    transition: 0.3s ease;
}

.cross-icon:hover {
    opacity: 0.8;
}

.overlay-container .overlay-vertical-center {
    /*width: 50%;*/
    /*width: 34%;*/

    height: 100%;
    position: absolute;
    right: 26px;
    bottom: 44px;
    /*margin: 0 auto;*/

    padding-top: 70px;
    padding-left: 10px;
    padding-right: 10px;
}

.overlay-container .overlay-vertical-center .overlay-innerwrap {
    width: 100%;
    margin: 0;
    background: #fff;
    /*-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;*/
    /*padding: 40px 0;*/
    /*padding: 17px 0 1px 0;*/

    position: relative;
    left: 0;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.overlay-container .overlay-vertical-center .overlay-innerwrap .overlay-name {
    font-size: 16px;
    font-size: 1rem;
    font-family: montserrat;
    color: #f21580;
    font-weight: 700;
}

.overlay-content {
    text-align: left;
    font: 100 15px / 20px montserrat;
    color: #777;
    padding: 30px 4% 10px 4%;
    border-bottom: 1px solid #aaa;
}

.overlay-content .overlay-table {
    display: table;
    width: 100%;
}

.overlay-content .overlay-table .table-cell:first-child {
    width: 40%;
}

.overlay-content .overlay-table-header {
    font: 100 15px / 20px montserratLight;
    padding: 30px 0 15px 0;
    border-bottom: 1px solid #ccc;
}

.overlay-content .overlay-table-contents {
    font: 100 15px / 20px montserrat;
    color: #333;
    padding: 10px 0;
}

.heading-overlay {
    background-color: #f21580;
    color: #fff;
    text-align: left;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 2rem 0 2rem 4rem;
}

.success-header {
    font-size: 35px;
    font-family: 'Tele Grotesk Fet';
    margin: 0 0 4px 0;
}

.success-header-content {
    font-family: 'Tele Grotesk Halb light';
    font-size: 20px;
    margin: 0;
}

.event-container {
    text-align: left;
    overflow: auto;
    padding: 2rem 4rem 2rem 4rem;
    height: 50vh;
}

.dashboard-container {
    pointer-events: initial;
}

.overlay-button-cover {
    padding: 10px 0 10px 0;
    border-top: 1px solid #eee;
}

.overlay-button-cover .overlay-button-wrap:first-child {
    margin-bottom: 0;
}

.overlay-container .overlay-button-wrap .form-button {
    display: inline-block;
    margin-right: 0;
}

.overlay-container .overlay-button-wrap .form-button button,
.overlay-container .overlay-button-wrap .secondary-button button {
    width: 120px;
    width: 7.5rem;
    height: 40px;
    height: 2.5rem;
    font-weight: 100;
    outline: none;
    border: none;
    background: #fff;
    color: #f21580;
    font-family: montserrat;
    transition: all 0.2s ease;
}

.overlay-container .overlay-button-wrap .form-button button:hover,
.overlay-container .overlay-button-wrap .secondary-button button:hover {
    transform: translateY(-1px);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.overlay-container .overlay-button-wrap .secondary-button button {
    display: inline-block;
    background: #f21580;
    color: #fff;
    border-radius: 20px;
    height: 37px;
    font-family: montserrat;
}

.career-span-overlay {
    font-family: 'Tele Grotesk Halb light';
    font-size: 13px;
    height: 24px;
    display: inline-block;
}

#blog .markup-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    width: 85%;
    white-space: inherit;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 1.5rem;
    letter-spacing: .6px;
    z-index: 4;
}

.blogs-text {
    white-space: inherit;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 1.5rem;
    letter-spacing: .6px;
}

.markup-footer {
    position: absolute;
    bottom: 8%;
    left: 0%;
    right: 0%;
    margin: auto;
}

.markup {
    border-radius: 3px;
    background-color: white;
    box-shadow: 0 2px 8px -1px rgba(0, 0, 0, 0.75);
    position: relative;
    cursor: pointer;
    transition: all 0.2s ease;
    height: 30vh;
}

.power {
    height: 15vh;
    display: flex;
    align-items: center;
    width: 85%;
    padding: 4% 0vh 6% 0vh;
}

.markup-header {
    width: 100%;
}

.markup-text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.blogContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    height: 100%;
    padding-top: 10px;
}

.authorContainer {
    width: 25%;
    font-size: 15px;
    margin-top: 5px;
    padding:0 1rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-left: 2px solid lightgrey;
}

.authorContainer h5 {
    font-weight: bold;
    margin: 0px;
    line-height: 1.2;
}

.smallBlogContainer {
    width: 75%;
    text-align: left;
    padding-left: 10px;
    padding-left: 3%;
    padding-right: 3%;
}

.blog-tile-paragraph {
    line-height: 1.3;
    width: 100%;
    margin: 0px;
    text-align: left;
    margin-top: 5px;

}

@media (max-width: 650px) {

    .power {
        width: 100%;
        padding-top: 0px;
        height: auto;
    }

    .blog-row .markup .blog-tile-header {
        text-align: center;
    }

    .blogContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    .blog-tile-paragraph {
        width: 90%;
        border-right: none;
        text-align: center;
        padding: 0;
        margin: 10px 0px;
    }

    .smallBlogContainer {
        width: 80%;

    }

    .authorContainer {
        width: 100%;

    }

    .authorContainer h5 {
        font-size: 10px;
        align-items: center;
        display: none;
        text-align: left;
    }

    .blog-tile-subheader {
        font-size: 12px;
        width: 90%;

    }
}

@media (min-width: 650px) and (max-width: 1100px) {

    .power {
        height: auto;
        padding: 10px;
    }

    .smallblogContainer {
        width: 70%;
    }

    .authorContainer {
        width: 30%;
        padding-left: 3%;
    }

    .blog-row .markup .blog-tile-subheader {
        text-align: left;
    }

}

#events .markup, #services .markup {
    min-height: 13rem;
}

.markup-details {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    width: 85%;
    overflow: hidden;
    font-size: 1.5rem;
    letter-spacing: .6px;
    line-height: 1.2;
}

.markup-details .markup-desc {
    font-family: 'Tele Grotesk Halb light';
    text-overflow: ellipsis;
    word-wrap: ellipsis;
    margin-top: .3rem;
    font-size: .9rem;
    height: 2.6rem;
    line-height: 1.3rem;
}

.markup:hover {
    transform: translateY(-4px);
}

.footer-img {
    height: 16px;
    padding-left: 2px;
    width: 12px;
    padding-bottom: 5px;
    margin-top: 3px;
}

.content-img {
    height: 133px;
    padding-top: 19px;
    padding-bottom: 20px;
}

.content-img-and {
    height: 132px;
}

.star {
    display: inline-block;
    padding: 0 6px;
    border-right: 1px solid #fff;
}

.star:last-child {
    border: none;
}

.starb {
    display: inline-block;
    padding: 0 6px;
    /*color: #888;*/
    border-right: 1px solid #fff;
}

.starb:last-child {
    border: none;
}

.markup-footer {
    font-size: 0.8rem;
}

.project-row.row .text-center:nth-child(7n+1) .markup {
    background-color: #A3C629;
    color: #fff;
}

.project-row.row .text-center:nth-child(7n+2) .markup {
    background-color: #2C9991;
    color: #fff;
}

.project-row.row .text-center:nth-child(7n+3) .markup {
    background-color: #00223E;
    color: #fff;
}

.project-row.row .text-center:nth-child(7n+4) .markup {
    background-color: #566D9B;
    color: #fff;
}

.project-row.row .text-center:nth-child(7n+5) .markup {
    background-color: #7A061F;
    color: #fff;
}

.project-row.row .text-center:nth-child(7n+6) .markup {
    background-color: #E0002A;
    color: #fff;
}

.project-row.row .text-center:nth-child(7n+7) .markup {
    background-color: #1FA6CE;
    color: #fff;
}

.service-box-Android {
    background-color: #A3C629;
    color: #fff;
}

.service-box-TensorFlow {
    background-color: #FFFFFF;
    color: #000;
}

.service-box-Angular {
    background-color: #681119;
    color: #fff;
}

.service-box-Meta {
    background-color: #00223E;
    color: #fff;
}

.service-box-Lazo {
    background-color: #1FA6CE;
    color: #fff;
}

.overlay-button-cover .btn {
    padding: 0;
}

.overlay-text {
    color: #f21580;
    font-size: 18px;
    font-family: 'Tele Grotesk Ult';
    padding: 0 14px 14px;
}

.overlay-text:first-child {
    padding-top: 14px;
}

.overlay-heading {
    background-color: #f21580;
    color: #fff;
    text-align: left;
    padding: 2rem 0 2rem 5rem;
}

.overlay-heading-topic {
    font-size: 35px;
    font-family: 'Tele Grotesk Fet';
}

.overlay-heading-content {
    font-family: 'Tele Grotesk Halb light';
    font-size: 20px;
}

.overlay-content {
    background-color: #fff;
    color: #000;
    padding: 10px;
}

.overlay-content-topic {
    margin-bottom: 10px;
    font-family: 'Tele Grotesk Fet';
    font-weight: 600;
    font-size: 19px;
}

.overlay-content-details {
    margin-bottom: 20px;
    font-size: 16px;
    font-family: 'Tele Grotesk Halb';
}

.dots {
    position: absolute;
    right: 0.8rem;
    top: 50%;
    transform: translateY(-50%);
}

.dot-option {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
    margin-bottom: 3px;
}

.display-none {
    display: none;
}

.btn:active {
    box-shadow: none;
}

#services .overlay-vertical-center {
    position: relative;
    bottom: 0;
    right: 0;
    padding-top: 0;
    margin: 0 auto;
    /*width: 100%;*/
    top: 50%;
    transform: translateY(-50%);
    width: 80%;
    height: initial;
}

.requestAccess.overlay-container {
    position: fixed;
    z-index: 10000;
}

.header-button {
    border: none;
    position: absolute;
    right: 25px;
    top: 36px;
}

.header-button button {
    color: #f21580 !important;
    width: 108px !important;
    background-color: #fff !important;
}

.header-button .career-span-overlay {
    font-family: 'Tele Grotesk Ult';
    font-size: 14px;
}

.content-img-angular {
    height: 51px;
    padding-bottom: 5px;
}

/*.overflowH{
    overflow: hidden;
}*/
.event-container-angular {
    text-align: left;
    overflow: auto;
    padding: 2rem 4rem;
    height: 60vh;
}

.web-content {
    margin-bottom: 20px;
}

.web-content-script {
    margin-bottom: 20px;
    width: 222px;
}

.topic {
    font-family: 'Tele Grotesk Ult';
    margin-bottom: 7px;
    font-size: 15px;
}

.topic-share {
    font-family: 'Tele Grotesk Ult';
    margin-bottom: 12px;
    font-size: 15px;
}

.share-img {
    height: 50px;
    margin-right: 5px;
}

.topic-content {
    margin-bottom: 7px;
}

.head-content {
    margin-bottom: 7px;
}

.table-head {
    font-family: 'Tele Grotesk Ult';
    width: 80px;
    margin-bottom: 7px;
    font-size: 15px;
}

.table-head-license {
    font-family: 'Tele Grotesk Ult';
    width: 100px;
    margin-bottom: 7px;
    font-size: 15px;
}

.first-container {
    border-right: 2px solid #eee;
    width: 50%;
    padding-right: 30px;
}

.first-container,
.second-container {
    float: left;
}

.second-container {
    padding-left: 20px;
}

.topic,
.topic-content {
    text-align: left;
}

/*#services .grid{
    overflow: auto;
    overflow-x: hidden;
}*/
.container.grid.container-margin {
}

.container.grid.added-extra-padding {
}

.container.grid.career {
}

.event-table {
    display: block;
    width: 216px;
}

@media (max-width: 1123px) and (min-width: 1024px) {
    #services .grid {
        width: 92%;
    }
}

@media (max-width: 1024px) and (min-width: 992px) {
    .grid {
        width: 88%;
    }
}

@media (max-width: 992px) and (min-width: 769px) {
    .cat-features-section.row.project {
        background-size: 100% 92%;
    }

    .bg-primary.cat-details-section {
    }

    #about .grid {
        width: 100%;
    }

    #about .cat-details-section ul li {
        margin-bottom: 43px;
    }

    .conduct {
        overflow: auto;
    }

    .contributor {
        overflow: auto;
    }
}

@media (max-width: 671px) and (min-width: 427px) {
    #services {
    }
}

@media (max-width: 970px) and (min-width: 769px) {
    #services {
    }

    .container.grid.container-margin {
    }
}

@media (max-width: 649px) and (min-width: 469px) {
    .mobile_version_content {
        width: 172px;
    }

    .footer_mobile {
        width: 172px;
    }

    .mobile_logo {
        width: 113px;
    }
}

@media (max-width: 669px) and (min-width: 427px) {
    .conduct {
        overflow: auto;
    }

    .contributor {
        overflow: auto;
    }
}

@media (max-width: 1021px) and (min-width: 992px) {
    #services .grid {
        width: 97%;
    }
}

@media (max-width: 990px) {
    .image-edge .container div[class*='col-'] {
        position: relative;
        top: 0;
        transform: none;
        -webkit-transform: none;
    }

    .first-container {
        padding-right: 0;
        width: 100%;
        border: none;
    }

    .second-container {
        width: 100%;
        padding-left: 0;
        padding-top: 20px;
    }

    .web-content-script {
        width: 100%;
    }

    .head-content,
    .topic-content {
        font-size: 13px;
    }
}

@media (max-width: 768px) and (min-width: 426px) {
    footer .margin-container {
        padding-right: 0;
    }

    .cat-features-section.row.project .grid {
    }

    .cat-features-section .special {
        font-size: 2.75rem;
    }

    .cat-features-section.row.project .mobile-font {
        width: 100%;
        font-size: 19px;
    }

    .bg-primary.cat-details-section {
        background-size: 164% 100%;
    }

    .cat-details-section ul li {
        margin-bottom: 32px;
    }

    .cat-prize-section.BG4 {
    }

    .cat-prize-section.BG4 .grid {
        width: 100%;
    }

    .cat-prize-section.BG5 {
    }

    .cat-prize-section.BG5 .grid {
        width: 100%;
    }

    .cat-prize-section.BG5.opposite .added-extra-padding {
        padding-top: 13%;
    }

    #services-career {
    }

    footer {
    }
}

@media (max-width: 426px) {
    .event-container-angular {
        overflow-x: hidden;
    }

    .text-left {
        width: 90%;
        text-align: center;
    }
}

@media (max-width: 426px) and (min-width: 376px) {
    .tab.col-lg-3.col-md-3.col-sm-3.col-xs-6.text-center:nth-child(even) div {
        margin-right: 0;
    }

    /*.tab {*/
    /*padding-left: 15px !important;*/
    /*}*/
    .markup {
        height: 40vh;
        margin-left: 10px;
    }

    .nav-contents {
        display: none;
    }

    .header-content-inner {
        margin: auto;
        width: 100%;
    }

    .no-padding {
        padding-left: 18px;
    }

    .mobile-padding {
        padding: 2rem;
    }

    .grid {
        width: 100%;
    }

    .content-right {
        padding-right: 30px;
    }

    .footer-content {
        display: none;
    }

    .names-content {
        width: 45%;
    }

    .container.grid.container-margin .desktop {
        display: none;
    }

    .nav-contents {
        font-size: 12px;
        padding-top: 2px;
    }

    .header-content-inner-details {
        font-size: 17px;
    }

    .arrows {
        /*display: none;*/
    }

    .cat-features-section.row.project {
        padding-top: 0;
    }

    .cat-features-section.row.grid.project .cat-feature-box {
        margin-top: 0;
    }

    .cat-features-section .special {
        font-size: 2.75rem;
    }

    .mobile-font {
        font-size: 20px;
        margin: auto;
    }

    .cat-details-section h2 {
        font-size: 2.75rem;
    }

    .cat-content {
        font-size: 1.2rem;
        width: 86%;
        margin: auto;
        display: inline-block;
    }

    .cat-hdg {
        /*font-size: 2.75rem;*/
        width: 73%;
    }

    .cat-prize-section.BG4 {
        height: 583px;
    }

    .cat-prize-section.BG4 .text-left {
        font-size: 16px;
        width: 100%;
    }

    #services {
    }

    .cat-features-section.row.project {
        background-size: 100% auto;
    }

    \ .cat-prize-section.BG4 .grid {
        margin-top: 0px;
    }

    .cat-prize-section.BG5.opposite .grid {
        margin-top: 0px;
    }

    .cat-prize-section.BG6 .mobile-margin {
    }

    .cat-prize-section.BG5.opposite .margin-container {
        font-size: 16px;
        width: 100%;
    }

    #services-career {
    }

    .cat-prize-section.BG6 {
    }

    .cat-prize-section.BG6 .grid {
        margin-top: 0px;
    }

    footer {
        padding: 20px 72px;
    }

    footer {
    }

    footer .grid {
        margin-top: 0;
        width: 100%;
    }

    .mainNav-contents {
        width: 95%;
        position: relative;
    }

    header .header-content {
        padding: 40px 15px 100px;
    }

    .header-content-inner {
        max-width: none;
    }

    .first-first-content {
        font-size: 31px;
        right: -9px;
    }

    .first-content {
        margin-left: -32px;
    }

    .extra {
        height: 51px;
    }

    .un-carrier {
        width: 310px;
        font-size: 49px;
    }

    .second-content {
        font-size: 52px;
        width: 388px;
    }

    .mobile-width {
        width: 85%;
        margin: auto;
    }

    .bg-primary.cat-details-section {
        background-size: 274% 100%;
    }

    .cat-prize-section.BG4 .added-extra-padding {
        padding-top: 13%;
    }

    .cat-prize-section.BG5 {
        background-size: 274% 100%;
    }

    .cat-features-section.row.project {
        /*height: 1108px;*/
    }

    .checkout {
        width: 76%;
        margin: auto;
        margin-top: 29px;
        margin-bottom: 13px;
    }
}

@media (min-width: 1439px) {
    .cat-prize-section.BG4 {
        background-size: 100%;
    }
}

@media (max-width: 892px) {
    * {
        background-size: cover !important;
    }
}

@media (max-width: 767px) {
    .clearfix.desktop {
        display: none;
    }

    .left-contents {
        margin: 0 15px;
    }

    #services .overlay-container .overlay-button-wrap .secondary-button button {
        width: 100px;
    }

    header .overlay-container .overlay-vertical-center .overlay-innerwrap {
        border-radius: 3px;
        /*padding: 20px 0 1px 0;*/
    }

    header .requestAccess.overlay-container {
        position: fixed;
        z-index: 10000;
    }

    header .overlay-container .overlay-vertical-center {
        padding-top: 60px;
    }

    .nav-contents {
        display: none;
    }
}

@media (max-width: 767px) and (min-width: 426px) {
    header .overlay-container .overlay-vertical-center {
        /*width: 32%;*/
    }

    header .overlay-text {
        margin-bottom: 27px;
        font-size: 30px;
    }

    .dots {
        right: 26px;
    }

    .header-content-inner {
        max-width: 483px;
    }

    .first-first-content {
        font-size: 38px;
        right: 28px;
    }

    .arrows {
        /*display: none;*/
    }

    #services {
    }

    .tab.col-lg-3.col-md-3.col-sm-3.col-xs-6.text-center:nth-child(even) div {
        margin-right: 0;
    }

    .service-box-Android,
    .third,
    .service-box-Lazo,
    .fourth {
        float: right;
        margin-right: 30px;
    }

    .service-box-Feral,
    .second,
    .service-box-Angular,
    .fifth {
        margin-left: 20px;
    }

    .markup {
        width: 100%;
    }
}

@media (min-width: 767px) {
    .dots {
        display: none;
    }

    .container.mobile {
        display: none;
    }
}

@media (min-width: 650px) {
    .mobile_version_content {
        display: none;
    }

    .footer_mobile {
        display: none;
    }

    .mobile_logo {
        display: none;
    }
}

@media (max-width: 650px) {
    footer .container.grid .row {
        display: none;
    }

    .footer-content {
        display: none;
    }
}

@media (max-width: 426px) {
    .header-button {
        display: none;
    }
}

@media (max-width: 376px) and (min-width: 321px) {
    .mobile_logo {
        width: 113px;
    }

    #services .overlay-vertical-center {
        margin: 0 auto;
    }

    #services .success-header {
        font-size: 3rem;
    }

    #services .success-header-content {
        font-size: 2.25rem;
    }

    .tab.col-lg-3.col-md-3.col-sm-3.col-xs-6.text-center:nth-child(even) div {
        margin-right: 0;
    }

    .cat-features-section.row.project .grid {
        width: 95%;
    }

    .overlay-container .overlay-vertical-center {
        right: 10px;
    }

    .nav-contents {
        display: none;
    }

    .cat-content {
        font-size: 20px;
        padding: 0;
        width: 100%;
        margin: auto;
        display: inline-block;
    }

    .cat-features-section.row.project {
    }

    .bg-primary.cat-details-section {
        background-size: 201% 100%;
    }

    .cat-prize-section.BG4 {
    }

    .cat-prize-section.BG4 .grid {
        width: 100%;
    }

    .cat-prize-section.BG5 .grid {
        width: 100%;
    }

    .cat-prize-section.BG6 .grid {
        width: 100%;
    }

    .cat-prize-section.BG5 {
    }

    .mobile_version_content {
    }

    .footer_mobile {
        width: 160px;
    }

    #services-conduct {
    }

    .cat-prize-section.BG4 {
        background-size: 100% 101%;
    }
}

@media (max-width: 321px) {
    .overlay-container .overlay-vertical-center {
        bottom: 0;
    }

    body {
        font-size: 80%;
    }

    .success-header {
        font-size: 29px;
    }

    #services .overlay-vertical-center {
        width: 95%;
    }

    .overlay-container .overlay-vertical-center {
        padding-top: 30px;
    }

    .event-container {
        height: 60vh;
    }

    .event-container-angular {
        height: 409px;
    }

    .mobile_version_content {
        width: 64%;
    }

    .footer_mobile {
        width: 64%;
    }

    .mobile_logo {
        width: 113px;
    }

    #services .overlay-vertical-center {
        /*left: 13px;*/
        margin: 0 auto;
        /*padding-left: 0;*/
    }

    .tab.col-lg-3.col-md-3.col-sm-3.col-xs-6.text-center:nth-child(even) div {
        margin-right: 0;
    }

    .cat-features-section.row.project .grid {
        width: 95%;
    }

    .overlay-container .overlay-vertical-center {
        /*width: 40%;*/
    }

    .nav-contents {
        display: none;
    }

    .container {
        padding-right: 0;
        padding-left: 0;
    }

    .cat-content {
        font-size: 20px;
        padding: 0;
        width: 100%;
        margin: auto;
        display: inline-block;
    }

    button {
        width: 158px;
        height: 47px;
    }

    footer {
        padding: 20px 72px;
    }

    .cat-features-section.row.project {
    }

    .bg-primary.cat-details-section {
        background-size: 201% 100%;
    }

    .cat-prize-section.BG4 {
    }

    .cat-prize-section.BG4 .grid {
        width: 93%;
    }

    .cat-prize-section.BG5 .grid {
        width: 93%;
    }

    .cat-prize-section.BG6 .grid {
        width: 100%;
    }

    /* .cat-prize-section.BG5 {
        height: 786px;
    }

    #services-career {
        top: -823px;
    }

    .cat-prize-section.BG6 {
        height: 428px;
    }*/
    .cat-prize-section.BG6.career .container {
        padding-top: 0;
        padding-bottom: 2rem;
    }

    .mobile-font {
        font-size: 19px;
        width: 274px;
        margin: auto !important;
    }
}

.container.grid.career {
    padding-bottom: 6%;
}

@media (max-width: 376px) {
    #mainNav .mainNav-contents {
        padding-left: 1rem;
    }

    .nav-contents {
        margin: 0 7px;
    }

    .cat-prize-section.BG4 {
        background-image: url(../img/mobilebg4.png);
        background-size: 100% 100%;
    }

    .cat-features-section.row.project .grid {
    }

    .cat-prize-section.BG5 {
        background-size: 274% 100%;
    }

    .cat-prize-section.BG5.opposite .margin-container {
        font-size: 18px;
        width: 96%;
    }

    .cat-hdg {
        /*font-size: 2.75rem;*/
        width: 85%;
    }

    .checkout {
        width: 84%;
        margin: auto;
        margin-top: 29px;
        margin-bottom: 13px;
    }

    .cat-prize-section.BG4 .added-extra-padding {
        padding-top: 13%;
    }

    .cat-prize-section.BG4 .text-left {
        width: 100%;
        padding: 0 18px;
        font-size: 18px;
    }

    footer .container.grid .row {
        display: none;
    }

    .container.grid.container-margin .desktop {
        display: none;
    }

    .arrows {
        /*display: none;*/
    }

    .logoMain {
        width: 113px;
    }

    .mainNav-contents {
        width: 93%;
        position: relative;
    }

    .nav-contents {
        font-size: 11px;
    }

    header .header-content {
        padding: 40px 15px 100px;
    }

    .header-content-inner {
        width: 100%;
    }

    .first-first-content {
        font-size: 30px;
        right: 1px;
    }

    .extra {
        height: 36px;
    }

    .un-carrier {
        width: 240px;
        font-size: 30px;
    }

    .second-content {
        font-size: 37px;
        width: 285px;
    }

    /* .bg-primary.cat-details-section{
        height: 877px !important;
    }*/
    /* .cat-prize-section.BG5{
        height: 724px !important;
    }*/
    /*#services-career{
        top: -335px !important;
    }*/
    footer {
        padding: 20px;
    }

    footer .grid {
        margin-top: 0;
    }
}

@media (max-width: 655px) and (min-width: 426px) {
    #services {
    }
}

@media (max-height: 414px) {
    #services .overlay-vertical-center {
        padding-top: 20px;
        width: 90%;
    }

    .event-container {
        height: 60vh;
    }

    .header-button {
        top: 19px;
    }

    .heading-overlay {
        padding: 1rem 0 1.4rem 4rem;
    }

    .event-container-angular {
        height: 60vh;
    }
}

.project-row.row {
    margin: 0;
}

a.footer-links {
    margin-left: 5px;
}

a.footer-links i {
    min-width: 32px;
    text-align: center;
    color: #fff;
    border: solid 1px #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    padding: 5px 4px 4px 5px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

a.footer-links i:hover {
    background-color: #f21580;
    border-color: #f21580;
}

.nav-contents a:hover, .names-links a:hover, .left a.footer-links:hover {
    color: #fff;
    text-decoration: none;
    opacity: .8;
}

/*blogs*/
/* .blogs-wrap * {
    font-size: inherit;
    color: inherit;
    box-sizing: border-box;
    letter-spacing: 0.5px;
    line-height: 1.5;
    font-family: 'Tele Grotesk Halb';
    white-space: normal;
} */
.blog-success-header {
    font-size: 2.2rem;
    font-family: 'Tele Grotesk Fet';
    margin: 0 0 4px 0;
}

.blog-success-header-content {
    font-family: 'Tele Grotesk Halb light';
    margin: 0;
    font-size: 1.1rem;
}

.blog-tag-content {
    border: 1px solid #f21580;
    border-radius: 15px;
    color: #f21580;
    display: inline-block;
    font-size: 0.8rem;
    padding: 5px 10px;
    margin-bottom: 7px;
    min-width: 71px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s ease;
}

.blog-tag-content:hover {
    background-color: #f21580;
    color: white;
}

.blog-tag-content:hover a{
    color: white;
}

.blog-web-content-script {
    margin-bottom: 20px;
    max-width: 252px;
}

.blog-topic {
    font-family: 'Tele Grotesk Ult';
    margin-bottom: 9px;
    font-size: 1.4rem;
}

.blog-topic-share {
    font-family: 'Tele Grotesk Ult';
    margin-bottom: 18px;
    font-size: 1.4rem;
}

.blog-share-img {
    height: 50px;
    margin-right: 5px;
    transition: 0.3s ease;
    cursor: pointer;
}

.blog-share-img:hover {
    opacity: 0.8;
}

.blog-first-container {
    width: 70%;
    padding-right: 24px;
    padding-left: 7%;
}

.blog-first-container,
.blog-second-container {
    float: left;
    padding-top: 2%;
    height: 100%;
    overflow: auto;
}

.blog-second-container {
    padding-left: 20px;
    width: 30%;
    border-left: 2px solid #ddd;
}

.blog-request-submit-widget {
    position: relative;
}

.blog-web-content {
    padding-bottom: 24px;
}

.blog-year, .blog-topic-content {
    font-size: 1rem;
    color: #f21580;
    padding-bottom: 4px;
    cursor: pointer;
}

.blog-year:hover, .blog-topic-content:hover {
    opacity: 0.8;
}

.blog-title-txt, .blogs-wrap .blog-first-container h1 {
    color: #f21580;
    font-size: 1.8rem;
    font-weight: 600;
    padding-bottom: 10px;
    margin: 0;
}

.blog-title-date {
    font-size: 1rem;
    color: #666;
    padding-bottom: 6px;
    font-family: Tele Grotesk Halb;
}

.blog-title-desc {
    font-size: 1rem;
    padding-bottom: 15px;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 18px;
}

.blog-title-wrap .blog-title-desc {
    white-space: nowrap;
}

.blog-title-more {
    text-transform: uppercase;
    font-size: 1rem;
    color: #f21580;
    margin-bottom: 24px;
    cursor: pointer;
    display: inline-block;
}

.blog-title-wrap {
    border-bottom: 2px solid #eee;
    margin-bottom: 20px;
}

.blog-title-wrap:last-child {
    border-bottom: none;
}

@media (max-width: 767px) {
    .cat-hdg.special {
        text-align: center;
        width: 100%;
    }

    .blog-first-container,
    .blog-second-container {
        width: 100%;
        height: initial;
    }

    #blogNav .mainNav-contents {
        padding-left: 2rem !important;
    }

    .blog-heading-overlay {
    }
}

.blog-post-head {
    font-size: 2.5rem;
    margin: 1.3vh 0 0.8vh;
}

.blog-breadcrumb {
    font-size: 1rem;
    font-family: 'Tele Grotesk Fet';
}

.blog-breadcrumb i {
    -webkit-text-stroke: 2px #fff;
}

.blog-breadcrumb span {
    font-weight: 600;
    padding: 0 7px 0 0;
}

.blog-title-date.bp-date {
    padding: 5px 0 25px;
}

.blog-title-txt.bp-txt {
    color: #000;
    padding-bottom: 10px;
    font-size: 1.5rem;
    font-family: 'Tele Grotesk Fet';
}

.blogs-wrap a,
.blogs-wrap a:hover,
.blogs-wrap a:active,
.blogs-wrap a:visited {
    text-decoration: none;
}

.blog-first-container a,
.blog-first-container a:hover,
.blog-first-container a:active,
.blog-first-container a:visited {
    text-decoration: none;
    color: #f21580;
}

.blogs-wrap a:hover {
    opacity: 0.8;
}

.blog-first-container h1 {
    font-size: 1.8rem;
    font-weight: 600;
    padding-bottom: 10px;
    margin: 0;
}

.blog-first-container h2 {
    font-weight: 500;
    margin: 0;
    font-family: 'Tele Grotesk Ult';
    width: 80%;
    margin: 10px 0;
    line-height: 1.2;
    font-size: 1.5rem;

}

.blog-post-author {
    font-size: 1rem;
    font-family: 'Tele Grotesk Fet';
}

.blog-post-author a {
    font-family: 'Tele Grotesk Fet';
}

.blog-first-container h3 {
    font-size: 1.3rem;
    font-weight: 600;
    padding-bottom: 10px;
    margin: 0;

}

.fa {
    font-family: FontAwesome;
}

@media (max-width: 504px) and (min-width: 427px) {
    .head-contributor {
        padding: 0 42px;
    }

    .first-content {
        margin-left: -20px;
    }

    .first-first-content {
        font-size: 30px;
        right: 10px;
    }

    .un-carrier {
        width: 350px;
        font-size: 52px;
    }

    .second-content {
        font-size: 55px;
        width: 408px;
    }

    #services {
    }
}

@media (max-width: 660px) {
    .cat-details-section h2 {
        font-size: 1.5rem;
        padding: 0;
    }

    .mobile-font {
        text-align: center;
    }

    .mobile_version_content {
        width: none;
    }
}

@media (max-width: 426px) and (min-width: 250px) {
    .power {
        height: 43vh;
    }
}

#videos {
    padding: 0;
}

#videos .separator.pull-down {
    padding-top: 5rem;
}

#videos .separator.pull-up {
    padding-bottom: 5rem;
}

#videos iframe {
    border: 2px solid white;
}

#videos .video-container {
    position: relative;
    width: calc((.85 * 100vw) - 30px);
    height: calc(((9 / 16) * (.85 * 100vw)) - 30px);
    max-width: 640px;
    max-height: 385px;
}

#videos .cat-prize-section button {
    margin: 20px 0;
    background-color: white;
    color: #f21580;
}

#videos .main-video {
    width: 100%;
    height: 100%
}

#videos .main-video-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
}

#videos .video-playlist {
    margin: 0 10em;

}

@media (max-width: 1542px) {
    #videos .video-playlist > :nth-child(3) {
        display: none;
    }
}

@media (max-width: 1105px) {
    #videos .video-playlist {
        display: none;
    }
}

#videos .small-video-container {
    position: relative;
    display: inline-block;
    margin: 10px;
}

#videos .video-hider iframe {
    border-radius: 5px;
}

#videos .small-video-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0);
}

#videoModal .modal-dialog {
    width: calc((.85 * 95vw) - 30px);
    height: calc(((9 / 16) * (.85 * 95vw)) - 30px);
    /*max-height: 95vh;*/
}

@media (max-width: 770px) {
    #videoModal .modal-dialog {
        width: calc(95vw - 10px);
        height: calc((9 / 16) * (95vw - 10px));
        margin: 25vh auto;
    }
}

@media (orientation: landscape) {
    #videoModal .modal-dialog {
        height: calc(85vh);
        width: calc((16 / 9) * (85vh));
        margin: 7vh auto;
    }
}

#videoModal iframe {
    height: 100%;
    width: 100%;
}

#events .event-past {
    background-color: rgba(75, 75, 75, .5)
}

#events .event-upcoming {
    background-color: rgba(241, 21, 128, 1)
}

#events .markup {
    max-height: 13rem;
    margin: 4px;
    position: relative;
}

#events .markup-header {
    font-family: "Tele Grotesk Halb";
    font-weight: normal;
    font-size: 22px;
    line-height: 1.1;
    position: relative;
    top: 8%;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 80px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    padding: 0 10px;
}

#events .markup-desc {
    font-size: .9rem;
    font-family: 'Tele grotesk Halb light';
    height: 2.6rem;
    line-height: 1.3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    text-overflow-ellipsis: '...';
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

#events .markup-footer .fa {
    margin-right: 5px;
}

#events .section-heading h2 {
    color: #f21580;
    font-size: 2.5rem;
}

#events .section-heading {
    color: black;
    text-align: center;
}

#events button {
    margin: 20px 0;
}

#events .owl-stage-outer {
    height: 17rem;
}

#events .owl-carousel .owl-item {
    /*margin-bottom: 1rem;*/
    margin-top: 1rem;
}

@media (orientation: landscape) and (max-width: 768px) {
    #events .owl-item {
        padding: 0 10px;
    }
}

#events .owl-carousel .owl-item.center {
    margin-top: 0;
}

#events .owl-item.center .markup {
    height: 15rem;
    min-height: 15rem;
}

#events .owl-carousel .owl-prev {
    left: -50px;
    position: absolute;
    color: #F21580;
    margin-top: -20px;
}

#events .owl-carousel .owl-next {
    right: -50px;
    position: absolute;
    color: #F21580;
    margin-top: -20px;
}

#events .read-more-link {
    display: none;
    font-size: 18px;
    font-family: "Tele Grotesk Ult";
    color: white;
}

#events .owl-item.center .read-more-link {
    display: block;
}

#events .events-separator {
    height: 20rem;
    position: relative;
}

#events .no-events {
    position: absolute;
    top: calc(50% - 10px);
}

#events .owl-carousel {
    background-color: white;

}

#event-info-modal {
    font-family: 'Tele Grotesk Halb';
    border-radius: 5px;
    padding: 0 20px !important;
}

#event-info-modal .modal-dialog {
    word-wrap: break-word;
    position: relative;
    top: 15vh;
    height: 70vh;
    margin: 0 auto;
}

#event-info-modal .modal-close {
    color: white;
    font-size: 45px;
    position: absolute;
    text-align: center;
    height: 65px;
    width: 65px;
    top: 5px;
    right: 0;
    line-height: 1;
    z-index: 1;
}

#event-info-modal .modal-close:hover {
    cursor: pointer;
}

#event-info-modal .modal-header {
    background-color: #f21580;
    padding-left: 64px;
    padding-right: 64px;
    border-radius: 5px;
}

#event-info-modal .modal-body {
    padding: 36px 20px;
    height: calc(70vh - 100px);
    overflow-y: scroll;
}

#event-info-modal .modal-title {
    font-family: "Tele Grotesk Fet";
    color: white;
    padding-top: 48px;
    font-size: 26px;
    border-radius: 5px;
}

#event-info-modal .modal-info {
    font-size: 18px;
    font-weight: normal;
    color: black;
    margin-bottom: 22px;
    position: relative;
}

#event-info-modal .modal-info:last-child {
    margin-bottom: 0;
}

#event-info-modal .modal-icon {
    color: rgba(0, 0, 0, .4);
    font-size: 24px;
    display: inline-block;
    position: absolute;
    left: 0;
    width: 30px;
    text-align: center;
    height: 100%;
}

#event-info-modal .content {
    height: 100%;
    margin-left: 44px;
}

#event-info-modal .shift-icon {
    position: relative;
    top: 0px;
}

#event-info-modal .stay-icon {
    position: relative;
    top: -4px;
}

#event-info-modal .subtext {
    font-size: 18px;
    color: rgba(0, 0, 0, .4);
    line-height: 21px
}

@media (max-width: 420px) {
    #event-info-modal .modal-header {
        height: 70px;
        padding-left: 16px;
        padding-right: 64px;
    }

    #event-info-modal .modal-title {
        padding-top: 10px;
        font-size: 22px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    #event-info-modal .modal-body {
        height: calc(70vh - 70px);
    }
}

.loading-bar-spinner.spinner {
    left: 50%;
    margin-left: -20px;
    top: 50%;
    margin-top: -20px;
    position: absolute;
    color: #f21580;
    animation: loading-bar-spinner 400ms linear infinite;
}

.loading-bar-spinner.spinner .spinner-icon {
    width: 40px;
    height: 40px;
    border: solid 4px transparent;
    border-top-color: #f21580 !important;
    border-left-color: #f21580 !important;
    border-radius: 50%;
}

@keyframes loading-bar-spinner {
    0% {
        transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

